@page {
	size: auto;
	margin: 0mm;
}

page {
	background: white;
    display: block;
	margin: 0 auto;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    border-style:double;
}

page[size="A4"] {
	width: 21cm;
	height: 29.7cm;
}

.wrapper {
    height: 98%;
    margin: 10px;
    border: 5px solid black;
    border-style: double;
    padding:10px;
}

.report-header {
    display: flex;
    justify-content: center;
}

.para {
	font-size: medium;
	line-height: 28px;
}

td {
	border: 1px solid #726E6D;
	padding: 5px;
}

thead {
	font-weight: bold;
	text-align: center;
	color: black;
}

tbody table {
	border-collapse: collapse;
}

.footer {
	text-align: right;
	font-weight: bold;
}

@media print {
	@page {
		size: auto;
		margin: 0mm;
	}
    .demo,
	.demo *,
	.hidden {
		display: none !important;
    }

    page {
        border-style: none;
    }

    .report-header {
        text-align: center;
    }

}
