body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
  }

  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .page {
    width: 210mm;
    min-height: 297mm;
    padding: 5mm;
    margin: 5mm auto;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  }

  .grade-sheet-wrapper {
    border: 5px solid black;
    border-style: double;
    padding: 10px;
    height: 287mm;
  }

  .report-header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .pull-center {
    text-align: center;
  }

  .paragraph {
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    text-transform: uppercase;
  }

  table {
    width: 100%;
  }

  td {
      border: 1px solid #726E6D;
      padding: 5px;
  }

  thead{
    font-weight:bold;
    text-align:center;
    color:black;
  }

  .footer {
    text-align:right;
    font-weight:bold;
  }

  .pull-center{
    text-align: center;
  }

  .signature .col-md-2::after {
    background-color: black;
    top: 0;
    content: '';
    display: block;
    height: 1px;
    left: 43%;
    position: absolute;
    transform: translate(-50%,0);
    width: 90px;
  }

  .signature{
    display: flex;
  }

  @page {
    size: A4;
    margin: 0;
  }

  @media print
    {
      html, body {
        width: 210mm;
        height: 297mm;
    }

    .demo,
    .demo *,
    .hidden {
      display: none !important;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    .paragraph{
      top: 50px;
    }

  }
